<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PhoneBook</title>
</head>
<body>
    <div class="header">
        <h1>Phone book</h1>
        <h2 th:text = "'Hello ' +  ${name} + '!'"></h2>
        <a th:href="@{/user}" th:text="'User list'"></a>
        <div>
            <h3>Add new contact</h3>
            <form method="post" action="#" th:action="@{/addContact}">
                First name<input type="text" name="firstName" placeholder="Enter name"/>
                Last name<input type="text" name="lastName" placeholder="Enter last name"/>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit">Send</button>
            </form>
        </div>
        <div>
            <h3>Filter contacts</h3>
            <form method="get" action="#" th:action="@{/filter}">
                First name<input type="text" name="firstName" placeholder="Enter name"/>
                Last name<input type="text" name="lastName" placeholder="Enter last name"/>
                <button type="submit">Find</button>
            </form>
        </div>
        <table>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Owner</th>
            </tr>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.firstName}"></td>
                <td th:text="${contact.lastName}"></td>
                <td th:text="${contact.ownerName}"></td>
            </tr>
        </table>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>